In [ ]:
import os
import glob
import psycopg2
import pandas as pd

In [ ]:
# you need to below command to start the sql sever before you can do anything
! pg_ctl -D /usr/local/var/postgres start

In [ ]:
def connect_database(dbName):
    """
    The function to create database

    Returns:
        cur  : Use the connection to get a cursor that will be used to execute queries.
        conn : The connection towards current connecting database.
    """

    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname={} user=piyush2017 password=password".format(dbName))
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur, conn

In [ ]:
cur, conn = connect_database('interviews')

In [ ]:
# you need to run the below command to make it possible to run sql commands directly in a jupeter notebook cell
%load_ext sql

In [ ]:
%sql postgresql://piyush2017:password@127.0.0.1/interviews

In [ ]:
%%sql

SELECT * FROM DataSubordinates;

# all the avaliable tables

Departments(Number, Name, Location)

Employees (SSN,Name,Sex,BirthYear,AssignedTo)

Dependents (HouseHolder,Name,Sex,BirthYear,Relationship)

Supervisors (SSN,StartYear)

Subordinates (SSN,SupervisedBy)

Managers (SSN,Directs,StartYear)

Projects (PNumber,PName,ManagedBy)

WorksOn (Employee,Project,TimeShare)

## views we have 

DataSupervisors(SSN, Name, BirthYear, Sex, AssignedTo, StartYear)

DataManagers (SSN, Name, BirthYear, Sex, AssignedTo, StartYear, Directs)

DataSubordinates (SSN, Name, BirthYear, Sex, AssignedTo,SupervisedBy)

![](employess-question-set-scema.png)

### 1. Retrieve the name and birth year of the employee’s child with code 350 (we change to 159).

In [ ]:
%%sql

### 2. For each employee, retrieve the employee name and the name of the department where he works.

In [ ]:
%%sql

### 3. Retrieve the names and birth years of female employees older than their supervisor.

In [ ]:
%%sql

In [ ]:
%%sql

### 4. Retrieve the names of employees who do not have supervisors.

In [ ]:
%%sql

### 5. Retrieve the names of employees who work for the Research department (i.e. R&D) , and the location of the department.

In [ ]:
%%sql

### 6. For every project located in Pisa, list the project number and name, the controlling department name, and the department manager’s name.

In [ ]:
%%sql
-- without using the view

In [ ]:
%%sql
-- make one with views

### 7. Retrieve the names of employees who have no dependents.

In [ ]:
%%sql

In [ ]:
%%sql
-- do it with difference relation algerbra

### 8. Retrieve the names of supervisors who have at least one dependent.

In [ ]:
%%sql

In [ ]:
%%sql
-- other way to do it
SELECT Name
FROM DataSupervisors AS ds
WHERE EXISTS (
        SELECT *
        FROM Dependents AS d
        WHERE ds.SSN = d.HouseHolder)
ORDER BY Name;

### 9. For each employee retrieve the employees name and the name of the immediate supervisor.

In [ ]:
%%sql

### 10. Retrieve the names of employees who have a dependent with the same sex.

In [ ]:
%%sql

### 11. For each employee retrieve the employees name and the social security number, the name of the project on which he works, and the name of the department that manages the project, sorted by the names of the department and the employee.

In [ ]:
%%sql

### 12. For each project on which more than two employees work, retrieve the project number, the project name, and the number of employees who work on the project.

In [ ]:
%%sql

### 13. For each project, retrieve the project number, the project name and the number of employees from department 10 (in my sample data we don't have department 10 so we look for department 3) who work on the project.

In [ ]:
%%sql

### 14. Retrieve the names of employees who have all dependants with their same sex.

In [ ]:
%%sql

### 15. Retrieve only the names of employees who have all dependants with the same sex. Let us write the query using universal quantification:

### 16. Retrieve the names of employees who only work on project for 20 percent time.

### 17. Retrieve the name of each employee who works at least on all the project to which employee 100 participates.

# all the avaliable tables

Departments(Number, Name, Location)

Employees (SSN,Name,Sex,BirthYear,AssignedTo)

Dependents (HouseHolder,Name,Sex,BirthYear,Relationship)

Supervisors (SSN,StartYear)

Subordinates (SSN,SupervisedBy)

Managers (SSN,Directs,StartYear)

Projects (PNumber,PName,ManagedBy)

WorksOn (Employee,Project,TimeShare)

## views we have 

DataSupervisors(SSN, Name, BirthYear, Sex, AssignedTo, StartYear)

DataManagers (SSN, Name, BirthYear, Sex, AssignedTo, StartYear, Directs)

DataSubordinates (SSN, Name, BirthYear, Sex, AssignedTo,SupervisedBy)