In [1]:
import os
import glob
import psycopg2
import pandas as pd

In [2]:
def connect_database(dbName):
    """
    The function to create database

    Returns:
        cur  : Use the connection to get a cursor that will be used to execute queries.
        conn : The connection towards current connecting database.
    """

    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname={} user=piyush2017 password=password".format(dbName))
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur, conn

In [3]:
cur, conn = connect_database('interviews')

# all the avaliable tables

Departments(Number, Name, Location)

Employees (SSN,Name,Sex,BirthYear,AssignedTo)

Dependents (HouseHolder,Name,Sex,BirthYear,Relationship)

Supervisors (SSN,StartYear)

Subordinates (SSN,SupervisedBy)

Managers (SSN,Directs,StartYear)

Projects (PNumber,PName,ManagedBy)

WorksOn (Employee,Project,TimeShare)

you need to run the below command to make it possible to run sql commands directly in a jupeter notebook cell

In [4]:
%load_ext sql

In [5]:
%sql postgresql://piyush2017:password@127.0.0.1/interviews

In [6]:
%%sql

SELECT * FROM employee;

 * postgresql://piyush2017:***@127.0.0.1/interviews
0 rows affected.

[]

In [7]:
%%sql

SELECT * FROM Workson;

 * postgresql://piyush2017:***@127.0.0.1/interviews
100 rows affected.

[(101, 12, 37),
 (102, 4, 60),
 (103, 14, 65),
 (104, 20, 11),
 (105, 6, 29),
 (106, 12, 44),
 (107, 3, 3),
 (108, 16, 20),
 (109, 11, 4),
 (110, 3, 93),
 (111, 12, 95),
 (112, 13, 8),
 (113, 18, 8),
 (114, 14, 56),
 (115, 17, 55),
 (116, 6, 37),
 (117, 16, 39),
 (118, 1, 89),
 (119, 5, 32),
 (120, 7, 59),
 (121, 20, 33),
 (122, 6, 89),
 (123, 3, 38),
 (124, 15, 32),
 (125, 13, 90),
 (126, 12, 6),
 (127, 1, 90),
 (128, 4, 54),
 (129, 16, 64),
 (130, 5, 75),
 (131, 7, 42),
 (132, 14, 49),
 (133, 15, 58),
 (134, 9, 30),
 (135, 6, 71),
 (136, 6, 31),
 (137, 5, 47),
 (138, 20, 63),
 (139, 10, 83),
 (140, 13, 28),
 (141, 12, 70),
 (142, 17, 14),
 (143, 17, 67),
 (144, 2, 17),
 (145, 8, 25),
 (146, 8, 88),
 (147, 3, 79),
 (148, 19, 88),
 (149, 12, 76),
 (150, 5, 58),
 (151, 17, 73),
 (152, 1, 5),
 (153, 15, 79),
 (154, 14, 91),
 (155, 12, 44),
 (156, 1, 89),
 (157, 7, 20),
 (158, 17, 91),
 (159, 3, 62),
 (160, 15, 36),
 (161, 12, 67),
 (162, 2, 38),
 (163, 12, 39),
 (164, 6, 62),
 (165, 6, 38),
 (166, 15, 51),
 (167, 5, 17),
 (168, 7, 31),
 (169, 4, 35),
 (170, 18, 3),
 (171, 10, 17),
 (172, 1, 81),
 (173, 19, 38),
 (174, 7, 73),
 (175, 13, 99),
 (176, 6, 30),
 (177, 14, 63),
 (178, 18, 14),
 (179, 4, 57),
 (180, 10, 85),
 (181, 5, 77),
 (182, 17, 77),
 (183, 5, 89),
 (184, 4, 33),
 (185, 18, 77),
 (186, 2, 52),
 (187, 19, 80),
 (188, 4, 57),
 (189, 12, 73),
 (190, 13, 38),
 (191, 19, 82),
 (192, 8, 46),
 (193, 10, 54),
 (194, 20, 82),
 (195, 7, 33),
 (196, 15, 43),
 (197, 9, 80),
 (198, 15, 84),
 (199, 14, 30),
 (200, 13, 85)]

### 1. Retrieve the name and birth year of the employeeâ€™s child with code 350.

In [8]:
%%sql

SELECT Name, BirthYear
FROM Dependents
WHERE Relationship = 'Child';

 * postgresql://piyush2017:***@127.0.0.1/interviews
22 rows affected.

[('Oren Bryant', 1941),
 ('Carter Donaldson', 1928),
 ('Giacomo Guerrero', 1916),
 ('Ethan Pittman', 1940),
 ('Ivor Hooper', 2004),
 ('Samuel Diaz', 1958),
 ('Hoyt Clements', 1923),
 ('Acton Duran', 1998),
 ('Chadwick Rocha', 1933),
 ('Valentine Hoffman', 1968),
 ('Tad Vaughan', 1951),
 ('Hamish Kent', 1916),
 ('Paul Melton', 1905),
 ('Carter Russo', 1941),
 ('Amos Mills', 1998),
 ('Jordan Thornton', 1930),
 ('Ian Rogers', 1984),
 ('Randall Kane', 1954),
 ('Tiger English', 1965),
 ('Cade Doyle', 1913),
 ('Hammett Sampson', 1931),
 ('Jamal Wynn', 1947)]

### 2. For each employee, retrieve the employee name and the name of the department where he works.

In [9]:
%%sql

SELECT E.Name, D.Name
FROM Employees AS E, Departments AS D  
WHERE E.AssignedTo = D.Number;

 * postgresql://piyush2017:***@127.0.0.1/interviews
100 rows affected.

[('Brock Cherry', 'Marketing'),
 ('Calvin Anthony', 'HR'),
 ('Tad Hughes', 'Informatics'),
 ('Odysseus Norton', 'Finance'),
 ('Vernon Randolph', 'Sales'),
 ('Colton Riggs', 'Informatics'),
 ('Brock Key', 'HR'),
 ('Kasimir Larsen', 'R&D'),
 ('Barrett Hebert', 'Informatics'),
 ('Wyatt Nicholson', 'HR'),
 ('Mufutau Mitchell', 'HR'),
 ('Lawrence Cote', 'HR'),
 ('Timon Mcmahon', 'R&D'),
 ('Malcolm Oconnor', 'Marketing'),
 ('Odysseus Delgado', 'R&D'),
 ('Igor Morgan', 'HR'),
 ('Christopher Jordan', 'Marketing'),
 ('Nolan Reese', 'Finance'),
 ('Garth Gomez', 'Informatics'),
 ('Buckminster Estrada', 'Marketing'),
 ('Gregory Morin', 'Sales'),
 ('Troy Chandler', 'Marketing'),
 ('Chester Atkins', 'R&D'),
 ('Felix Frye', 'Sales'),
 ('Wallace Oliver', 'HR'),
 ('Hakeem Ferrell', 'Finance'),
 ('Paki Phillips', 'Finance'),
 ('Shad Whitfield', 'HR'),
 ('Wylie Cannon', 'Finance'),
 ('Elvis Buchanan', 'Finance'),
 ('Brody Mccarty', 'HR'),
 ('Brett Bentley', 'Informatics'),
 ('Xanthus Fox', 'Finance'),
 ('William Dejesus', 'Sales'),
 ('Phillip Tillman', 'R&D'),
 ('Kato Martinez', 'Informatics'),
 ('Nicholas Daugherty', 'Sales'),
 ('Howard Shepard', 'Sales'),
 ('Jackson Sellers', 'Marketing'),
 ('Jack Ramirez', 'Informatics'),
 ('Wyatt House', 'Sales'),
 ('Gavin Benton', 'Marketing'),
 ('Xanthus Holman', 'Sales'),
 ('Price Chavez', 'Sales'),
 ('Steven Sawyer', 'Informatics'),
 ('Tate Hopper', 'Finance'),
 ('Henry Lane', 'R&D'),
 ('Dane Medina', 'Sales'),
 ('Joshua Fernandez', 'R&D'),
 ('Harlan Rivas', 'Finance'),
 ('Wade Berger', 'Finance'),
 ('Louis Townsend', 'Marketing'),
 ('Marvin Harrell', 'Marketing'),
 ('Richard Carrillo', 'R&D'),
 ('Norman Booth', 'Finance'),
 ('Ray Reid', 'Finance'),
 ('Xanthus Ortega', 'Sales'),
 ('Jack Cooper', 'HR'),
 ('Peter Pearson', 'Finance'),
 ('Neville Blanchard', 'Finance'),
 ('Cain Johnston', 'R&D'),
 ('Tiger Dennis', 'Sales'),
 ('Marshall Rice', 'R&D'),
 ('Macaulay Huffman', 'Informatics'),
 ('Hamilton Porter', 'HR'),
 ('Joshua Craig', 'Informatics'),
 ('Colby Glass', 'Informatics'),
 ('Walker Wiggins', 'Sales'),
 ('Garrison Bauer', 'Marketing'),
 ('Clark Meadows', 'R&D'),
 ('Rudyard Hendrix', 'Sales'),
 ('Bevis Maxwell', 'Marketing'),
 ('Ali Robinson', 'Marketing'),
 ('Dominic Faulkner', 'Marketing'),
 ('Wyatt Vance', 'Sales'),
 ('Kenneth Snyder', 'R&D'),
 ('Jerry Donovan', 'Finance'),
 ('Dante Jensen', 'Informatics'),
 ('Hop White', 'Finance'),
 ('Conan Allison', 'Sales'),
 ('Hashim Mcclure', 'Finance'),
 ('Leroy Buck', 'R&D'),
 ('Leo Austin', 'Informatics'),
 ('Hop Bender', 'HR'),
 ('Amir Blackburn', 'R&D'),
 ('Elmo Mooney', 'R&D'),
 ('Driscoll Benton', 'R&D'),
 ('Chase Battle', 'Informatics'),
 ('Asher Jarvis', 'R&D'),
 ('Oscar Hart', 'Marketing'),
 ('Ferris Lindsey', 'R&D'),
 ('Kennan Sosa', 'R&D'),
 ('Bradley Craig', 'Marketing'),
 ('Amos Cardenas', 'Marketing'),
 ('Preston Parks', 'HR'),
 ('Giacomo Douglas', 'R&D'),
 ('Merrill Griffith', 'Finance'),
 ('Ian Shepard', 'R&D'),
 ('Chadwick Riggs', 'Sales'),
 ('Chancellor Edwards', 'Sales')]

# all the avaliable tables

Departments(Number, Name, Location)

Employees (SSN,Name,Sex,BirthYear,AssignedTo)

Dependents (HouseHolder,Name,Sex,BirthYear,Relationship)

Supervisors (SSN,StartYear)

Subordinates (SSN,SupervisedBy)

Managers (SSN,Directs,StartYear)

Projects (PNumber,PName,ManagedBy)

WorksOn (Employee,Project,TimeShare)

## views we have 

DataSupervisors(SSN, Name, BirthYear, Sex, AssignedTo, StartYear)

DataManagers (SSN, Name, BirthYear, Sex, AssignedTo, StartYear, Directs)

DataSubordinates (SSN, Name, BirthYear, Sex, AssignedTo,SupervisedBy)

In [10]:
%%sql
SELECT * FROM DataSubordinates;

 * postgresql://piyush2017:***@127.0.0.1/interviews
100 rows affected.

[(101, 'Brock Cherry', 1990, 'F', 3, 179),
 (102, 'Calvin Anthony', 1963, 'F', 2, 192),
 (103, 'Tad Hughes', 1980, 'F', 4, 177),
 (104, 'Odysseus Norton', 1982, 'F', 5, 181),
 (105, 'Vernon Randolph', 1991, 'M', 1, 184),
 (106, 'Colton Riggs', 1965, 'M', 4, 190),
 (107, 'Brock Key', 1938, 'F', 2, 178),
 (108, 'Kasimir Larsen', 1958, 'F', 6, 185),
 (109, 'Barrett Hebert', 1950, 'M', 4, 180),
 (110, 'Wyatt Nicholson', 1983, 'F', 2, 188),
 (111, 'Mufutau Mitchell', 1935, 'M', 2, 156),
 (112, 'Lawrence Cote', 1932, 'M', 2, 170),
 (113, 'Timon Mcmahon', 1953, 'M', 6, 177),
 (114, 'Malcolm Oconnor', 1975, 'M', 3, 184),
 (115, 'Odysseus Delgado', 1940, 'M', 6, 192),
 (116, 'Igor Morgan', 1994, 'M', 2, 164),
 (117, 'Christopher Jordan', 1947, 'M', 3, 172),
 (118, 'Nolan Reese', 1995, 'F', 5, 171),
 (119, 'Garth Gomez', 1942, 'F', 4, 182),
 (120, 'Buckminster Estrada', 1960, 'F', 3, 171),
 (121, 'Gregory Morin', 1926, 'F', 1, 195),
 (122, 'Troy Chandler', 1939, 'F', 3, 175),
 (123, 'Chester Atkins', 1938, 'F', 6, 194),
 (124, 'Felix Frye', 1910, 'F', 1, 154),
 (125, 'Wallace Oliver', 1933, 'M', 2, 172),
 (126, 'Hakeem Ferrell', 1950, 'M', 5, 153),
 (127, 'Paki Phillips', 1949, 'F', 5, 178),
 (128, 'Shad Whitfield', 2000, 'M', 2, 159),
 (129, 'Wylie Cannon', 1961, 'F', 5, 187),
 (130, 'Elvis Buchanan', 1915, 'F', 5, 167),
 (131, 'Brody Mccarty', 1966, 'F', 2, 197),
 (132, 'Brett Bentley', 1908, 'M', 4, 200),
 (133, 'Xanthus Fox', 1931, 'M', 5, 160),
 (134, 'William Dejesus', 1969, 'M', 1, 176),
 (135, 'Phillip Tillman', 1927, 'F', 6, 167),
 (136, 'Kato Martinez', 1993, 'F', 4, 150),
 (137, 'Nicholas Daugherty', 1986, 'M', 1, 183),
 (138, 'Howard Shepard', 1910, 'M', 1, 197),
 (139, 'Jackson Sellers', 1903, 'M', 3, 190),
 (140, 'Jack Ramirez', 1960, 'F', 4, 171),
 (141, 'Wyatt House', 1990, 'F', 1, 186),
 (142, 'Gavin Benton', 1996, 'M', 3, 179),
 (143, 'Xanthus Holman', 1943, 'M', 1, 189),
 (144, 'Price Chavez', 1928, 'M', 1, 193),
 (145, 'Steven Sawyer', 1981, 'F', 4, 160),
 (146, 'Tate Hopper', 1966, 'M', 5, 158),
 (147, 'Henry Lane', 1905, 'M', 6, 191),
 (148, 'Dane Medina', 1940, 'M', 1, 187),
 (149, 'Joshua Fernandez', 1990, 'M', 6, 172),
 (150, 'Harlan Rivas', 1922, 'F', 5, 183),
 (151, 'Wade Berger', 1961, 'F', 5, 193),
 (152, 'Louis Townsend', 1912, 'M', 3, 152),
 (153, 'Marvin Harrell', 1957, 'F', 3, 159),
 (154, 'Richard Carrillo', 1930, 'M', 6, 176),
 (155, 'Norman Booth', 1952, 'M', 5, 198),
 (156, 'Ray Reid', 1933, 'F', 5, 184),
 (157, 'Xanthus Ortega', 1943, 'F', 1, 175),
 (158, 'Jack Cooper', 1904, 'F', 2, 192),
 (159, 'Peter Pearson', 1944, 'M', 5, 174),
 (160, 'Neville Blanchard', 1952, 'M', 5, 159),
 (161, 'Cain Johnston', 1987, 'F', 6, 155),
 (162, 'Tiger Dennis', 1970, 'M', 1, 150),
 (163, 'Marshall Rice', 1912, 'F', 6, 191),
 (164, 'Macaulay Huffman', 1908, 'M', 4, 188),
 (165, 'Hamilton Porter', 1969, 'F', 2, 189),
 (166, 'Joshua Craig', 1903, 'F', 4, 150),
 (167, 'Colby Glass', 2008, 'M', 4, 158),
 (168, 'Walker Wiggins', 1916, 'F', 1, 193),
 (169, 'Garrison Bauer', 1949, 'M', 3, 184),
 (170, 'Clark Meadows', 1926, 'M', 6, 171),
 (171, 'Rudyard Hendrix', 1951, 'F', 1, 165),
 (172, 'Bevis Maxwell', 1971, 'M', 3, 184),
 (173, 'Ali Robinson', 1988, 'F', 3, 179),
 (174, 'Dominic Faulkner', 1956, 'M', 3, 196),
 (175, 'Wyatt Vance', 1990, 'F', 1, 159),
 (176, 'Kenneth Snyder', 1983, 'M', 6, 186),
 (177, 'Jerry Donovan', 1914, 'F', 5, 159),
 (178, 'Dante Jensen', 1916, 'F', 4, 150),
 (179, 'Hop White', 1979, 'F', 5, 189),
 (180, 'Conan Allison', 1927, 'F', 1, 168),
 (181, 'Hashim Mcclure', 1999, 'M', 5, 191),
 (182, 'Leroy Buck', 2001, 'F', 6, 165),
 (183, 'Leo Austin', 1988, 'M', 4, 187),
 (184, 'Hop Bender', 1936, 'F', 2, 172),
 (185, 'Amir Blackburn', 1984, 'F', 6, 153),
 (186, 'Elmo Mooney', 1946, 'M', 6, 167),
 (187, 'Driscoll Benton', 1979, 'F', 6, 154),
 (188, 'Chase Battle', 1901, 'F', 4, 154),
 (189, 'Asher Jarvis', 1979, 'F', 6, 197),
 (190, 'Oscar Hart', 1902, 'M', 3, 152),
 (191, 'Ferris Lindsey', 1952, 'M', 6, 160),
 (192, 'Kennan Sosa', 1911, 'M', 6, 171),
 (193, 'Bradley Craig', 1908, 'M', 3, 151),
 (194, 'Amos Cardenas', 1964, 'M', 3, 163),
 (195, 'Preston Parks', 2001, 'M', 2, 196),
 (196, 'Giacomo Douglas', 1933, 'M', 6, 183),
 (197, 'Merrill Griffith', 2006, 'M', 5, 185),
 (198, 'Ian Shepard', 1933, 'M', 6, 157),
 (199, 'Chadwick Riggs', 1908, 'M', 1, 162),
 (200, 'Chancellor Edwards', 2007, 'F', 1, 161)]